{% extends 'default_layout.html' %}

{% block content %}
<div class="container-fluid">

  <h3 class="thin">{{game.gameName}}</h3>
  <hr class="thin"/>
  <ul class="nav nav-pills" id="game-menu">
    <li role="presentation"><a href="#standings">Standings</a></li>
    <li role="presentation"><a href="#recently_result">Recently Result</a></li>
    <li role="presentation"><a href="#matches_and_schedule">Matches / Schedule</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="standings">
    </div>
    <div role="tabpanel" class="tab-pane" id="recently_result">
      {% include 'templates/game_recently_result.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="matches_and_schedule">
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(function () {
    // game page variables
    var seasonId = {{season.id}};
    var gameId = {{game.id}};
    // game page variables

    render_standings( seasonId, gameId );

    $('#game-menu a').click(function (e) {
      e.preventDefault();
      if( $(this).attr("href") === "#standings" )
        render_standings( seasonId, gameId );
      if( $(this).attr("href") === "#matches_and_schedule" )
        render_matches_and_schedule( seasonId, gameId );
    });
  });

  function render_standings( seasonId, gameId ){
    var template = _.template( $("#game_standings_tpl").html() );
    LM.api.games.getStandings( seasonId, gameId, function( data ){
      $('#standings').html( template(data) );
      $('#game-menu a[href="#standings"]').tab('show')
    });
  }

  function render_matches_and_schedule( seasonId, gameId ){
    var template = _.template( $("#game_matches_and_schedule_tpl").html() );
    LM.api.games.getMatchesAndSchedule( seasonId, gameId, function( data ){
      console.log( data );
      $('#matches_and_schedule').html( template(data) );
      $('#game-menu a[href="#matches_and_schedule"]').tab('show')
    });
  }

</script>
{% include 'templates/game_standings.underscore.html' %}
{% include 'templates/game_matches_and_schedule.underscore.html' %}

{% endblock %}

