{% extends 'default_layout.html' %}

{% block content %}
<div class="container-fluid">
  {% include 'includes/game_title.html' %}
  <div id="status">
  </div>
  <hr class="thin"/>
  <ul class="nav nav-pills" id="game-menu">
    <li role="presentation"><a href="#standings">Standings</a></li>
    <li role="presentation"><a href="#matches_and_schedule">Matches / Schedule</a></li>
    <!--<li role="presentation"><a href="#recently_result">Recently Result</a></li>-->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="standings">
    </div>
    <div role="tabpanel" class="tab-pane" id="matches_and_schedule">
    </div>
    <div role="tabpanel" class="tab-pane" id="recently_result">
      {% include 'templates/game_recently_result.html' %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $.fn.editable.defaults.mode = 'popup';
    
    // game page variables
    var seasonId = {{season.id}};
    var gameId = {{game.id}};
    // game page variables

    if(window.location.hash) {
      var tabName = window.location.hash.replace('#','');
//      console.log( tabName );
      switch(tabName) {
        case 'standings':
          render_standings( seasonId, gameId );
          break;
        case 'matches_and_schedule':
          render_matches_and_schedule( seasonId, gameId );
          break;
        default:
          render_standings( seasonId, gameId );
      }
    } else {
      render_standings( seasonId, gameId );
    }

    $('#game-menu a').click(function (e) {
      e.preventDefault();
      
      if( $(this).attr("href") === "#standings" ) {
        render_standings(seasonId, gameId);
        window.location.hash = "standings";
      }
      if( $(this).attr("href") === "#matches_and_schedule" ) {
        render_matches_and_schedule(seasonId, gameId);
        window.location.hash = "matches_and_schedule";
      }
    });
  
  });

  function render_standings( seasonId, gameId ){
      var template = _.template( $("#game_standings_tpl").html() );
      LM.api.games.getStandings( seasonId, gameId, function( data ){
          data.seasonId = seasonId;
          data.gameId = gameId;
          $('#standings').html( template(data) );
          $('#game-menu a[href="#standings"]').tab('show')
          sort();
      });

      function sort() {
          var tbl = $(".standings-table").stupidtable();
          tbl.on("aftertablesort", function (event, data) {
              var th = $(this).find("th");
              th.find(".arrow").remove();
              var dir = $.fn.stupidtable.dir;
              var arrow = data.direction === dir.ASC ? "&uarr;" : "&darr;";
              th.eq(data.column).append('<span class="arrow">' + arrow + '</span>');
          });
      }
  }

  function render_matches_and_schedule( seasonId, gameId ){
    var template = _.template( $("#game_matches_and_schedule_tpl").html() );
    LM.api.games.getMatchesAndSchedule( seasonId, gameId, function( data ){
      
//      console.log( data );
      
      data.seasonId = seasonId;
      data.gameId = gameId;
      
      $('#matches_and_schedule').html( template(data) );
      
      $('#game-menu a[href="#matches_and_schedule"]').tab('show')
      $('[data-toggle="tooltip"]').tooltip()
      
      // 경기결과 reset 버튼 이벤트
      $('td > span.glyphicon-remove').on('click', function(e){

        noty({
          text: '정말 경기결과를 초기화 할까요?',
          layout: 'center',
          type: 'error',
          buttons: [
            {addClass: 'btn btn-primary', text: 'Yes', onClick: $.proxy(function($noty) {
                var matchId = $(this).attr('data-match-id');
                LM.api.matches.reset( gameId, matchId, function( res ){
                  if( res.success ){
                    $("#match-fn-delete-" + matchId).addClass('hide');
                    $("#match-score-" + matchId).html('결과입력');
                    $("#match-" + matchId).removeClass('success');

                    noty({
                      text: '경기결과를 초기화 했습니다.',
                      layout: 'center',
                      type: 'success',
                      timeout: 1000
                    });
                  }
                });
                $noty.close();
              }, this)
            },
            {addClass: 'btn btn-danger', text: 'No', onClick: function($noty) {
              $noty.close();
            }
            }
          ]
        });
      });
      
      _.each( data.matches, function( match ){
        $('td > a#match-score-' + match.id ).editable({
          value: {
            homeScore: match.homeScore,
            awayScore: match.awayScore,
            status : match.status
          },
          validate: function(value) {
          },
          display: function(value) {
            if(!value) {
              $(this).empty();
              return;
            }
            var html;
            if( value.status === 'open' )
              html = '결과입력';
            else
              html = '<b>' + $('<span>').text(value.homeScore).html() + '</b> vs <b>'+ $('<span>').text(value.awayScore).html() + '</b>';
            $(this).html(html);
          }
        });
        $('td > a#match-score-' + match.id).on('save', function(e, params){
          $("#match-" + match.id).addClass('success');
          $("#match-fn-delete-" + match.id).removeClass('hide');
          noty({
            text: '경기결과가 저장되었습니다. 감사합니다. :)',
            type: 'success',
            timeout: 1000
          });
        });

      });

    });
  }
</script>
{% include 'templates/game_standings.underscore.html' %}
{% include 'templates/game_matches_and_schedule.underscore.html' %}

{% endblock %}

