<script id="game_standings_tpl" type="text/template">
<table class="table table-hover">
  <thead>
  <tr>
    <th class="text-left">#</th>
    <th class="text-left">Team</th>
    <th class="text-left">P</th>
    <th class="text-left">W</th>
    <th class="text-left">D</th>
    <th class="text-left">L</th>
    <th class="text-left">F</th>
    <th class="text-left">A</th>
    <th class="text-left">+/-</th>
    <th class="text-left">Pts</th>
  </tr>
  </thead>
  <tbody>
  <% _.each( standings, function( s ){ %>
  <tr>
    <td><%= s.ranking %></td>
    <td class="right"><a href="/teams/1"><%= s.teamName %></a></td>
    <td class="right"><%= s.play %></td>
    <td class="right"><%= s.win %></td>
    <td class="right"><%= s.draw %></td>
    <td class="right"><%= s.lost %></td>
    <td class="right">100</td>
    <td class="right">00</td>
    <td class="right">100</td>
    <td class="right">114</td>
  </tr>
  <% }); %>
  </tbody>
  <tfoot></tfoot>
</table>
</script>